@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.nav-link {
  @apply hover:text-gray-400 active:text-orange-400;
}

.btn {
  @apply border px-3 md:py-2 rounded-4xl;
}

.btn-one {
  @apply border px-3 md:py-1 rounded-4xl;
}

.btn-primary {
  @apply border-orange-400 bg-orange-400 text-gray-300 hover:bg-transparent;
}
.btn-active {
  @apply border-orange-400 bg-orange-400 text-gray-300;
}
.btn-secondary:hover {
  @apply border-orange-400 bg-orange-400 text-gray-300;
}

.footer-link {
  @apply hover:text-gray-300 active:text-orange-400;
}